<nav class="navbar navbar-default navbar-static-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/" alt="link">DW</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" routerLink="aboutme" alt="link" routerLinkActive="active-link">About me</a>
      <a class="nav-item nav-link" routerLink="resume" alt="link" routerLinkActive="active-link">Resume</a>
      <a class="nav-item nav-link" routerLink="projects" alt="link" routerLinkActive="active-link">Projects</a>
    </div>
  </div>
</nav>