<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <div class="text-center text-white" id="footer">
    <hr>
    <p>&copy; All rights reserved 2018</p>
    <ul class="list-unstyled list-inline social text-center">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/DavidMWBP" target="_blank" alt="facebook" aria-label="facebook" rel="noopener">
          <i class="fa fa-facebook" alt="facebook"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/david-wolf-8b957b13a/" target="_blank" alt="linkedin" aria-label="linkedin" rel="noopener">
          <i class="fa fa-linkedin" alt="linkedin"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="mailto:david.mwbp@gmail.com" target="_blank" alt="email" aria-label="email">
          <i class="fa fa-envelope" alt="email"></i>
        </a>
      </li>
    </ul>
  </div>