<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

 <div class="aboutMeContainer text-center">

    <div class="row">
      <div class="col-sm-5">
        <h1>Who am I?</h1>
          <p>
            Hi! My name is David Wolf and I'm a 27 year old front page developer living in Amsterdam.
            <br>
            I'm an enthusiastic person with a constant drive to learn and improve. 
            <br>
            For any further inquiries, feel free to contact me through e-mail, LinkedIn or Facebook.
          </p>
          <button class="btn btn-outline-light" id="resumeButton" routerLink="/resume" routerLinkActive="active-link">Have a look at my resume <i class="fa fa-angle-double-right"></i></button>
      </div>
      <div class="col-sm-7">
        <h1>What can I do?</h1>
        <div class="row">
          <div class="col-sm-4">
            <h2>Basics</h2>
            <p>
              HTML
              <br> 
              CSS
              <br>
              SASS 
              <br>
              Javascript
            </p>
          </div>
          <div class="col-sm-4">
            <h2>Frameworks</h2>
            <p>
              Angular
              <br> 
              Vue
              <br> 
              Bootstrap
              <br>
              Express.js
            </p>
          </div>
          <div class="col-sm-4">
            <h2>Other</h2>
            <p>
              NodeJS
              <br> 
              jQuery
              <br> 
              MongoDB
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>