<div id="projectsContainer" class="text-center">
  <div class="row">
    <div class="col-md" id="portfolioProject">
      <h4>
        <strong>My portfolio</strong>
      </h4>
      <p>
        My first project is this portfolio; Which I have created to showcase any upcoming demos/projects.<br>
        I will also be incorperating any new elements I learn alongside the way.<br>
        My first future plan is to refactor this website into Angular 6 (from Angular 5).
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <h5>More projects coming soon!</h5>
    </div>
  </div>
</div>