

<div id="resumeContainer">
  <div class="row">
    <div class="col-md-12">
      <strong>Personal</strong>
      <p>
        Name:        David<br>
        Birthday:    08-05-1991<br>
        City:        Amsterdam<br>
        Nationality: Dutch<br>
      </p>
    </div> 
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>Education</strong>
      <p>
        2013 - 2015
        <br> ROC TOP (Security Academy)
        <br> 2011 - 2012
        <br> Hogeschool van Amsterdam (Game Development)
        <br> 2007 - 2011
        <br> ROC Fraijlemaborg (Application Development)
        <br> 2003 - 2007
        <br> ROC Trueblaan (Basic IT education)
      </p>
    </div>
    <div class="col-md-6">
      <strong>Work</strong>
      <p> 
         2015 - present
        <br> D&B The Facility Group (Security Host)
        <br> 2014 - 2015
        <br> Municipality of Amsterdam (Security)
        <br> 2011 - 2012
        <br> International Model Management (Webdeveloper)
        <br> 2010 - 2011
        <br> Glimworm (Webdeveloper)
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <strong>Skills</strong>
    <p>
      HTML/CSS/Javascript
      <br> Angular/Vue
      <br> Bootstrap
      <br> NodeJS
      <br> Express.js
    </p>
    </div>
    <div class="col-md-6">
      <strong>Language</strong>
      <p>
        Dutch: Mother language.
        <br> English: Full professional proficiency.
      </p>
    </div>
  </div>
</div>